@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
  body {
    @apply bg-dark text-brand-gray-100 relative font-inter overflow-x-hidden tracking-[-2%]
  }
}


.custom-hover {
  @apply transition duration-200 hover:opacity-75
}


.border-line::after {
  content: '';
  @apply absolute w-full bottom-0 left-0 h-0.5 bg-gradient-to-r from-brand-yellow-400 to-brand-yellow-600
}